<div>
    <form method="POST" action="/catalogs/{{data.id}}?_method=PATCH">
        <table>
            <tr>
                <td>ID</td>
                <td>{{data.id}}</td>
            </tr>
            <tr>
                <td>Code</td>
                <td><input type="text" name="code" value="{{data.code}}" /></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" name="name" value="{{data.name}}" /></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><textarea name="description">{{data.description}}</textarea></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="Submit" value="Update" /></td>
            </tr>
        </table>
    </form>
</div>