<div>
    <div>
        <p>ID: {{data.id}}</p>
        <p>Name: {{data.name}}</p>
        <p>Desc: {{data.description}}</p>
        <p>Publications: {{ data.article_publications.length}}</p>
    </div>

    <hr />

    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>Catalog</th>
                <th>Article</th>
                <th>Delete</th>
            </tr>
            {{#each data.article_publications}}
            <div>
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.catalog_id}}</td>
                    <td>{{this.article_id}}</td>
                    <td>
                        <form action="/article_publications/{{this.id}}?_method=DELETE" method="POST">
                            <input type="hidden" name="source" value="articles/{{../data.id}}" />
                            <button type="Submit" class="delete-button">Delete</button>
                        </form>
                    </td>
                </tr>
            </div>
            {{/each}}
        </table>


    </div>

    <hr />

    <div>
        <h4>Add catalogs</h4>

        <form method='POST' action='/article_publications'>
            <input type="hidden" name="source" value="articles/{{data.id}}" />
            <input type="hidden" name="article_id" value="{{data.id}}" />
            <input type="text" name="catalog_id" placeholder="Enter the catalog ID to add to this article" required=true />
            <input type="submit" value="Add" />
        </form>
    </div>
</div>